@using TableroPecasV5.Client.Logicas
@using TableroPecasV5.Shared;
@inherits Logicas.CLogicaCfgJerarquias

<div style="width: 100%; height: 100%; position: absolute; overflow: hidden;">
  <div style="width: 50%; height: calc(100% - 35px);">
    @*@if (ListaCapas!=null)
		{
      @foreach (CCapaWFSCN Capa in ListaCapas)
		  {
        <p style="height: 28px; width: 100%;" >@Capa.Descripcion</p>
		  }
		}*@
  </div>
</div>
