<div style="width: 40px; height: 27px; background: transparent; position: absolute; cursor: pointer;">
   <svg width="40px" height="27px" xmlns="http://www.w3.org/2000/svg">
     <rect x="0" y="0" rx="4" ry="3" width="40" height="27" style="fill:white;"/>
   </svg>
</div>
