@inherits Logicas.CLogicaPinsLL


<div id="@Direccion" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px;">
  @if (!DatosCompletos)
  {
    <CAguardar />
  }
  else
  {
    @if (SinDatos)
    {
      <a>No hay datos disponibles</a>
    }
  }
  @if (Graficando)
			{
        <div style="width: 100%; height: 100%; margin: 0px; background: rgba(128,128,128,0.3);">
          <CTextoAguarda/>
        </div>
			}
</div>