@inherits Logicas.CLogicaRedimensionar

<div style="width: 10px; height: 10px; background-color: transparent; padding: 0px; position: absolute;
       cursor: se-resize; bottom: 0px; right: 0px; padding: 0px; display: grid;"
       @onclick="@ClickSobreRedimensionar">
  <BECanvas Width="10" Height="10" @ref="@CanvasPropia"/>
</div>
