@inherits Logicas.CLogicaTrendRed

<div style="width: 350px; height: 180px; background-color: white; padding: 0px; text-align: center;">
  <BECanvas Width="350" Height="180" @ref="CanvasReloj" />
</div>

