<div style="width: 100%; height: 100%; position: absolute; text-align: center;">
  <div style="vertical-align: central;">
    <i class="fa fa-spinner fa-pulse"></i>
    <p style="display: inline-block; margin-left: 5px;">Por favor, aguarde unos instantes</p>
  </div>
</div>
