@using TableroPecasV5.Shared;
@using TableroPecasV5.Client.Listas;
@inherits Logicas.CLogicaVinculadorCoordenadas

<div style="width: 80%; left: 10%; top: 10%; height: 50%; overflow: hidden; background-color: white; position: absolute;" >
  @if (ListaElementos == null)
  {
    <a>Por favor aguarde unos segundos</a>
  }
  else
  {
<div class="row" style="width: 100%; height: 100%; position: relative; margin: 0px; overflow-x: hidden; overflow-y: auto; display: inline-block;">
  <div style="width: 50%; height: calc(100% - 40px);">
    @foreach (CListaPosicion Elemento in ListaElementos)
    {
      <div style="@EstiloLinea(Elemento)" @onclick="((e) => { SeleccionarVinculo(Elemento); })">
        <label>@Elemento.Descripcion</label>
      </div>
    }
  </div>
  <div id="@Direccion" style="width: 50%; height: 100%;">
  </div>
  <div style="width: 100%; height: 40px; text-align: right;">
    <button style="width: 80px; height: 25px;" @onclick="@Registrar">Registrar</button>
  </div>
  </div>
  }
</div>
